{% extends 'base.html.twig' %}

{% block title %}Création Event{% endblock %}

{% block body %}


    <div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}

    </div>
{% endblock %}