<h1>Hi! Please confirm your email!</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
