{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center my-5">
        <div class="alert alert-light">
            <h1>Vérifiez votre messagerie</h1>
            <p>Un email de confirmation vous a été envoyé.</p>
            <p>Veuillez cliquer sur le lien que vous venez de recevoir pour activer votre compte.</p>
            <p class="mt-4">Si vous ne recevez pas d'email dans les prochaines minutes, vérifiez votre dossier de spam.</p>
        </div>
    </div>
{% endblock %}