{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-0 mt-5">
                <div class="card-body p-4">
                    <div class="text-center mb-4">

                        {% for flash_error in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        <h2 class="h3 font-weight-bold text-primary">
                            <i class="fas fa-paper-plane mr-2"></i>Réinitialisation du mot de passe
                        </h2>

                        {{ form_start(requestForm) }}
                        {{ form_row(requestForm.email) }}
                        <div>
                            <small>
                                Saisissez votre adresse mail pour recevoir un lien de changement de mot de passe.
                            </small>
                        </div>

                        <button class="btn btn-outline-dark">Send password reset email</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
