{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-0 mt-5">
                <div class="card-body p-4">

                        <h2 class="h3 font-weight-bold text-primary">
                            <i class="fas fa-paper-plane mr-2"></i>Mot de passe
                        </h2>

                        {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <button class="btn btn-outline-dark">Envoyer</button>
                        {{ form_end(resetForm) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
