{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 500</h1>

    <p>
        Votre action n'a pas pu aboutir, retentez plus tard ou <a href="{{ path('main') }}">retournez à l'accueil</a>.
    </p>
{% endblock %}